:root {
    --lvl1-bg-color: #337ab7;
    --lvl1-selected-bg-color: #3379b785;
    --lvl2-bg-color: #49182d;
    --lvl2-selected-bg-color: #49182d75;
    --lvl3-bg-color: #445660;
    --lvl3-selected-bg-color: #44566077;
    --lvl4-bg-color: #00529c;
    --lvl4-selected-bg-color: #00539c73;
    --lvl5-bg-color: #023867;
    --lvl5-selected-bg-color: #0238678d;
    --default: rgb(95, 97, 102);
    --selected: rgb(143, 143, 143);
    --passed: #ffaa00;
}

.header {
    /* padding: 0 3rem 1.5rem; */

    color: var(--default);
    /* background: #f0f0f0; */
    display: block;
    width: 100%;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
}

.header-flex .title-flex {
    padding: 0 3rem 1rem;
}

.flex-help {
    background: var(--default);
    padding: 0 .5rem;
}

.flex-help:hover, .flex-help.active {
    background: #023867;
}

.flex-help i.material-icons {
    font-size: 3.25rem;
    line-height: 3.25rem;
    padding: 2.5rem 0;
    color: #fff;
}

.header h1 {
    margin: 0;
    font-size: 4.5rem;

}

.header h1 i.material-icons {
    font-size: 2.6rem;
    color: #fdb930;
}

.header .title1 {
    letter-spacing: 15px;
}

.header .title2 {
    font-weight: bold;
    letter-spacing: -3px;
}

.header p {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

.header .highlight {
    background: var(--default);
    color: #fff;
    line-height: 1;
    padding: 0 5px;
}

.header .elac {
    font-weight: bold;
}

.breadCrumbs {
    padding: .5rem 3rem;
}

.breadCrumbs-flex {
    display: flex;
    justify-content: center;
}

.area h6 {
    padding-right: 60px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.area:last-of-type h6{
    padding-right: 0;
}

.area h6 span {
    background-color: #fff;
    padding: 0 5px;
    font-size: 1.2rem;
    line-height: 0;
    color: #d0d0d0;
}

.area h6 span i.material-icons {
    width: 0;
    visibility: hidden;
}

.area.active h6 span {
    font-weight: bold;
    color: var(--default);
}

.area.completed h6 span i.material-icons {
    color: green;
    visibility: visible;
    width: auto;
}

.area h6:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #d0d0d0;
    z-index: -1;
}

.area.completed h6:after {
    border-top: 1px solid var(--default);
}

.panel {
    /* color: #8d8d8d; */
    color: #626262;
    width: 100%;
    display: none;
}

.panel-content {
    max-width: 42em;
    margin: 0 auto;
    padding: 25px 10px;
}

.panel-content p {
    font-size: 2em;

}

.sample-content p {
    font-size: 1em;
    line-height: 1.6;

}

.options {
    white-space: nowrap;
}

.btn {
    margin: 5px 0;
}

iframe {
    display: block;
    margin-bottom: 15px;
}

#placement {
    font-weight: bold;
    font-size: 2em;
}

#loader {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: -500px;
    z-index: 1000;
    background: #fff;
    overflow-x: hidden;

}

.loader-container {
    width: 50%;
    text-align: center;
    margin: 15% auto 0;
}

.panel-content .sampleData {
    font-size: 1.25rem;
}

.sample {
    display: block;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}

.btn-large {
    font-size: 24px;
}

.btn-large i {
    font-size: 2.6rem;
}

.sample-content {
    border-top: 1px solid #e0e0e0;
}

#csid-container {
    display: none;
}

span.locale,
span.phone {
    display: block;
    line-height: 1.1;
    padding: 15px;
    font-style: italic;
    font-size: 1.1em;
}

#errors {
    display: none;
}

#errors p {
    font-size: 1.4em;
    font-weight: bold;
}

#e-first,
#e-last,
#e-email,
#e-csid {
    display: none;
}

.errorValues {
    margin-bottom: 30px;
}

.errorValues li {
    color: red;
}

#recos {
    display: flex;
    flex-direction: column;
}

#selected {
    position: relative;
}

.flex {
    flex: 0 0 auto;
    position: relative;
}

.row-flex {
    display: flex;
}

.row-flex>div {
    flex: 0 1 auto;
}

.course {
    text-align: center;
    border: 2px solid #d0d0d0;
    padding: 1em;
    margin: 10px;
    background: #f0f0f0;
    color: #d0d0d0;
    border-radius: 3px;

}

.course h4 {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.course p {
    font-size: 1.5rem;
    font-weight: initial;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}



.flex[data-lvl="1"] .active,
.flex[data-lvl="1"] .course:hover,
.flex[data-lvl="1"] .selected {
    background: var(--lvl1-bg-color);
    border-color: var(--lvl1-bg-color);
}

.flex[data-lvl="2"] .active,
.flex[data-lvl="2"] .course:hover,
.flex[data-lvl="2"] .selected {
    background: var(--lvl2-bg-color);
    border-color: var(--lvl2-bg-color);
}

.flex[data-lvl="3"] .active,
.flex[data-lvl="3"] .course:hover,
.flex[data-lvl="3"] .selected {
    background: var(--lvl3-bg-color);
    border-color: var(--lvl3-bg-color);
}

.flex[data-lvl="4"] .active,
.flex[data-lvl="4"] .course:hover,
.flex[data-lvl="4"] .selected {
    background: var(--lvl4-bg-color);
    border-color: var(--lvl4-bg-color);
}

.flex[data-lvl="5"] .active,
.flex[data-lvl="5"] .course:hover,
.flex[data-lvl="5"] .selected {
    background: var(--lvl5-bg-color);
    border-color: var(--lvl5-bg-color);
}

.course.active,
.flex .course:hover,
.flex .course.course.selected-course:hover {
    color: #fff;
    cursor: pointer;
}

.course:hover {
    border-color: #fdb930;
    -webkit-transition: .3s ease-out;
    transition: .5s ease-out;
}

.course.active {
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, .4);
}

.course.active:hover {
    border-color: transparent;
}

.flex:before {
    position: absolute;
    top: 30%;
    left: -10%;
    font-size: 1em;
    color: #d0d0d0;
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.panel-content.full-width {
    max-width: 90%;
}

@media(min-width: 1200px) {

    .panel-content.full-width {
        max-width: 80%;
    }
}


@media(min-width: 1500px) {

    .panel-content.full-width {
        max-width: 70%;
    }
}

.course-details {

    border: 1px solid #d0d0d0;
    padding: 0;
    margin: 10px;
    border-radius: 3px;

}

#course_recos .course-details {
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, .25);
    border: 1px solid #b1b1b1;
}

#course_recos .course-details .title {
    color: var(--default);
}

.course-content {
    padding: 0 1em 1em;
}

.course-details h4 {
    font-weight: bold;
    margin: 0;
    background: var(--selected);
    color: #fff;
    padding: 15px;
}

.course-details .title {
    font-size: 1.5rem;

    line-height: 1.1;

    font-weight: bold;

    margin: 30px 0 8px;

    color: var(--selected);
}

.course-details p {
    font-size: 1.25rem;
    font-weight: initial;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

h3 {
    margin: 0 0 25px 10px;
}

.user-values {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px;
    background: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0, 0, 0, .8);
    display: none;
}

.next-steps {
    max-width: 42em;
}

/* #course_recos[data-level="1"] .course-details {
    border-color: var(--lvl1-bg-color);
} */

#course_recos  .course-details[data-course="ELAC15"] h4 {
    background: var(--lvl1-bg-color);
}

#course_recos .course-details[data-course="ELAC23"] h4,
#course_recos .course-details[data-course="ELAC25"] h4
{
    background: var(--lvl2-bg-color);
}

#course_recos .course-details[data-course="ELAC23P"] h4,
#course_recos .course-details[data-course="ELAC33P"] h4
{
    background: var(--passed);
}

#course_recos .course-details[data-course="ELAC33"] h4,
#course_recos .course-details[data-course="ELAC35"] h4 {
    background: var(--lvl3-bg-color);
}

#course_recos .course-details[data-course="ELAC145"] h4 {
    background: var(--lvl4-bg-color);
}

#course_recos .course-details[data-course="PLA"] h4 {
    background: var(--lvl5-bg-color);
}

#details {
    min-width: 300px;
}

#details hr {
    margin: 36px 0 23px;
    color: #f0f0f09e;
}

#details h4 {
    margin-top: 0;
}

.course.selected-course {
    border: 2px solid var(--default);

    color: var(--default);
}

#clear {
    position: absolute;
    top: -20px;
    right: -15px;
}

.btn, .btn-large {
    background: #023867;
}

strong {
    font-weight: bold;
}

#help-container {
    position: fixed;
    bottom: -450px;
    right: -450px;
    width: 1000px;
    height: 1000px;
    z-index: 1001;
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1),
    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    transform: scale(0);
}

#help-container.open {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#help-container.open + .help-content {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.help-wrapper {
    background-color: #023867;
    opacity: .95;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    padding: 26% 7%;
}

.help-content {
    line-height: 1.8;
    color: #fff;
    transition: transform .25s linear,
    -webkit-transform .25s linear;
    transform: scale(0);
    -moz-transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    padding: 10px;
}
.help-content p {
    font-size: 18px;
    max-width: 26em;
}

.help-content a {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
}

.help-content a i.material-icons {

    position: relative;
    top: 5px;
}

.italic {
    font-style: italic;
    font-weight: bold;
}

.sub-panel-listen .sample-content {
    border-top: none;
}

.course-details a{
    font-size: 1.2rem;
}

.course-details a i.material-icons {
    position: relative;
    top: 5px;
}

#apply {
    display: none;
    border-bottom: 2px solid #f0f0f0;
    padding: 0 20px 35px;
    /* border: 4px solid rgba(95, 97, 102, 0.7);
    border-color: #008A98;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,.5);
    background: #f0f0f080;
    color: rgb(95, 97, 102); */
}

#userName {
    text-transform: capitalize;
}

.req {
    color: red;
}

.help-content {
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 1002;
}

.responsive-video-container {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.responsive-video-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

p.headline {
    margin-bottom: 10px;
}

p.disc {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 25px;
}

img.reading-img {
    max-width: 100%;
}

div.readingText {

    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

div.readingText p {
    font-size: 1.2rem;
}

p.readingIntro {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1.52rem;
}

p.directions {
    font-weight: 500;
    line-height: 1.3;
}

.practice-content {
    display: none;

}

.practice-content span {
    text-decoration: underline;
    font-weight: 600;
    text-decoration-color: #fdb930;
    font-style: italic;
}


/*

88b           d88               88           88  88
888b         d888               88           ""  88
88`8b       d8'88               88               88
88 `8b     d8' 88   ,adPPYba,   88,dPPYba,   88  88   ,adPPYba,
88  `8b   d8'  88  a8"     "8a  88P'    "8a  88  88  a8P_____88
88   `8b d8'   88  8b       d8  88       d8  88  88  8PP"""""""
88    `888'    88  "8a,   ,a8"  88b,   ,a8"  88  88  "8b,   ,aa
88     `8'     88   `"YbbdP"'   8Y"Ybbd8"'   88  88   `"Ybbd8"'

*/

@media screen and (max-width: 700px) {
    .breadCrumbs {display: none;}
    .flex-help {display: none;}
    .header-flex .title-flex {
        padding: 0;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .options.responsive {
        display: flex;
        flex-direction: column;
    }
    .options.responsive a {
        margin: 5px 0;
        height: 42px;
        line-height: 42px;
    }
    .panel-content.full-width {
        max-width: 100%;
        padding: 10px;
    }
    .panel-content.full-width p:first-of-type {
        margin: 0;
    }
    #recos {
        display: none;
    }
    #details h3:first-of-type {
        display: none;
    }
    section[data-cb-name='cbTable'] {
        display: none !important;
    }
    .cbSubmitButtonContainer {
        display: none !important;
    }
    .course-content p {
        padding: 10px 0;
    }
    div.col.s12.m6 {
        padding: 0;
    }

    .next-steps p {
        line-height: 1.1em;
    }

}

